.navbar h5 {
    margin-bottom: 0 !important;
}

.navbar {
    background-color: #013243 !important;
    color: white;
    display: inline-block;
}

.navbar a {
    color: white !important;
    font-weight: bolder;
    letter-spacing: 1px;
}

.navbar-score {
    float: right !important;
    text-align: right !important;
    padding-top: .4rem;
}