.card {
    width: 180px;
    margin: 16px 20px;
    float: left;
}

.card-text {
    text-align: center;
}

.card-img-top {
    height: 190px;
}

.card img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    max-height: 190px;
}

.card-container {
    margin: 0 auto;
    width: 910px;
}